<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="{{ path('front.index') }}">{{ site_title }}</a>
    </h5>

    {#
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    #}

    <a class="btn btn-outline-primary" href="{{ path('back.dashboard') }}">Tableau de bord</a>
</div>

{% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible mt-4">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            X
        </button>
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('danger') %}
    <div class="alert alert-danger alert-dismissible mt-4">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            X
        </button>
        {{ message }}
    </div>
{% endfor %}
